.material-icons.md-12 { font-size: 12px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#CKAN_Start{
    position: absolute;
    right: 420px;
    top: 5px;
    display: block;
    width: 32px;
    height: 32px;
    padding:0px
}
#CKAN_StartButton{
   
    padding: 5px;
    display: block;
    width: 32px;
    height: 32px;
}
#CKAN_UI {
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 0pt;
    font-family: "Arial";
    z-index: 99980;
    width: 100%;
    display: none;
}

#CKAN_Button {
    left: 320pt;
    position: absolute;
    width: 230px;

}
#zoomButton{
    position: absolute;
    left:285pt;
}
#urlInput {
    left: 320pt;
    top: 30pt;
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 15px;
    width: 210px;
    background: rgba(42, 42, 42, 0.5);
    color: rgb(255, 255, 255);
    border: 3px #505050 solid;
    font-size: 9pt;
    text-align: right;


}
#additionalInputDiv{
    display: none;
    padding-top: 10px;
}
#temporalInput {
    
    text-align: right;
    padding-top: 10px;
}
#searchCatalog{
    padding-top: 10px;
    text-align: left;
}
#searchButton{
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 1px;
}

#ResultWindow {

    background: rgba(42, 42, 42, 0.5);
    color: rgb(255, 255, 255);
    border: 4px #505050 solid;
    position: absolute;
    left: 10px;
    top: 30pt;
    width: 305pt;
    display: none;
}

#ResultHeadline {
    background: #505050;
    font-size: 12pt;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
}

#CKAN_Results {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 10pt;
    z-index: 1;
    overflow-y: auto;
    max-height: 530px;


}
#OpenGroupByWindow{
    left: 90pt;
    top: -3pt;
    position: absolute;
    width: 32px;
    display: none;
    z-index: 9000;
    padding-left:9px;
    padding-top: 6px;
    padding-bottom: 4px;
}
#GroupByWindow{
    left: 110pt;
    top: -3pt;
    position: absolute;
    width: 32px;
    display: none;
    z-index: 9000;
    padding-left:9px;
    padding-top: 6px;
    padding-bottom: 4px;
}

#CloseCKANButton {
    left: 280pt;
    top: -3pt;
    position: absolute;
    width: 32px;
    display: none;
    z-index: 9000;
    padding-left:9px;
    padding-top: 6px;
    padding-bottom: 4px;

}

#MinCKANButton {
    left: 254pt;
    top: -3pt;
    position: absolute;
    width: 32px;
    display: none;
    z-index: 8999;
    padding-left:10px;
    padding-top: 6px;
    padding-bottom: 4px;
    


}

#MaxCKANButton {
    left: 254pt;
    top: -3pt;
    position: absolute;
    width: 32px;
    display: none;
    z-index: 8999;
    padding-left:10px;
    padding-top: 6px;
    padding-bottom: 4px;


}

#AddButton {
    vertical-align: middle;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 1px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}



#RemoveButton {
    vertical-align: middle;

    padding-left: 10px;
    font-size: 5pt;
    position: relative;
    display: none;
}

#custom_infoBoxTable {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 550px;

}

#ConnectionInfo {

    max-height: 460px;
    min-height: 460px;
    display: none;
    position: absolute;
    min-width: 300px;
    max-width: 300px;
    right: 500px;
    top: 180px;
    z-index: 9001;

    color: rgb(255, 255, 255);


}

#custom_connectionTable {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 419px;
    min-height: 419px;
    min-width: 276px;
    max-width: 276px;
    background: rgba(42, 42, 42, 0.9);
    border: 2px #505050 solid;
}

#LayerWindow {


    z-index: 9002;
    position: absolute;
    top: 250px;

    right: 500px;
    width: 220px;
    display: none;
}

#LayerTitle {
    color: rgb(255, 255, 255);

}

#Layerbox {
    background: rgba(42, 42, 42, 0.9);

    border: 2px #505050 solid;
    z-index: 9002;
    width: 196px;
    height: 50px;

}
#layerSelector{
    max-width: 190px;
}

#WMSLayerButton {
    position: absolute;
    top: 60px;
    left: 7px;
    font-size: 9pt
}
#LoadedLayersWindow{
    position:absolute;
    top: 610px;
    left: 10px;
    
    font-size: 10pt;
    background: rgba(42, 42, 42, 0.5);
    color: rgb(255, 255, 255);
    border: 2px #505050 solid;
    max-width: 305pt;
    display:none;
}
#WMSOpener{
    position:absolute;
    top: 610px;
    left: 10px;
    display:none;
    font-size: 10pt;
}
#LoadedLayersTitle{
    background: #505050;
    
    padding-left: 2px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 2px;
}
#LoadedLayersList{
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}
#additionalInput{
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 1px;
}
#CollapseButton{
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
#InfoButton{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 1px;
}
#MetadataTable{
    position: absolute;
    left: 320pt;
    top: 90pt;
    display: none;
    width: 250pt;
    height: 364pt;
    background: rgba(42, 42, 42, 0.9);
    border: 2px #505050 solid;
}
#MetadataTitle{
    background: #505050;
    font-size: 10pt;
    color: white;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
}
#custom_metadataTable{
    overflow-y: auto;
    overflow-x: auto;
    height: 344pt;
    width:250pt;
    font-size: 13px;
}
#dataTable{
    overflow-y: auto;
    overflow-x: auto;
    height: 300pt;
    width:250pt;
}
button.link{
    background: none;
    border:none;
    color:white;
}